Django==1.6.5
Markdown==2.4.1
amqp==1.4.6
anyjson==0.3.3
billiard==3.3.0.18
celery==3.1.13
django-bower==5.0.1
django-celery==3.1.10
django-smtp-ssl==1.0
django-filter==0.7
djangorestframework==2.4.0
gnureadline==6.3.3
ipython==2.1.0
kombu==3.0.21
meld3==1.0.0
pep8==1.5.7
pytz==2014.4
six==1.7.3
wsgiref==0.1.2
