<html ng-app="buildbuild">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    {% load staticfiles %}

    <title>
      {% block title %}
      BuildBuild
      {% endblock %}
    </title>
  </head>
  <body>
    <script src="{% static 'jquery/jquery-1.11.1.min.js' %}"></script>  
    <script src="{% static 'angular/angular.min.js' %}"></script>
    <script src="{% static 'js/buildbuild.js' %}"></script>
    <p><a href="/">Main</a></p>

    {% verbatim angular %}
    <!-- {{ "angularjs" + " works!" }} -->
    {% endverbatim angular %}
  <header>
    <h1>BuildBuild</h1>
  </header>

  <div class="container">
    <div class="messages">
    {% if messages %}
      <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
    </div>

  <nav>
    {% if user.is_authenticated %}
    <div>Welcome, {{ user.email }}</div>
      <a href="{% url 'users:logout' %}">Logout</a>
      <a href="{% url 'users:account' %}">Account info</a>
      <a href="{% url 'teams:maketeam' %}">Make a Team</a>
      <p>
      {% block search_team %}
      {% endblock %}
      </p>
      <p>
      {% block team_list %}
      {% endblock %}
      </p>
    {% else %}
      <a href="{% url 'users:login' %}">Login</a>
      <a href="{% url 'users:signup' %}">SignUp</a>
    {% endif %}
  </nav>

    {% block content %}
    {% endblock %}
  </div>

  <footer>
  </footer>
  </body>
</html>
