<html ng-app="buildbuild">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    {% load staticfiles %}

    <title>
      {% block title %}
      BuildBuild
      {% endblock %}
    </title>
  </head>
  <body>
    <script src="{% static 'angular/angular.min.js' %}"></script>
    <script src="{% static 'js/buildbuild.js' %}"></script>

    {% verbatim angular %}
      {{ "angularjs" + " works!" }}
    {% endverbatim angular %}
  <header>
    <h1>BuildBuild</h1>
  </header>

  <nav>
    {% if user.is_authenticated %}
    <div>Welcome, {{ user.email }}</div>
      <a href="/logout/">Logout</a>
      <a href="/account/">Account info</a>
      <a href="/maketeam/">Make a Team</a>
      <a href="/makeproject/">Make a Project</a>
    {% else %}
      <a href="/login/">Login</a>
	  <a href="/signup/">SignUp</a>
    {% endif %}
  </nav>

  <div class="container">
    <div class="messages">
    {% if messages %}
      <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
    </div>

    {% block content %}
    {% endblock %}
  </div>

  <footer>
    buildbuild footer ( not implemented )
  </footer>
  </body>
</html>
