<!DOCTYPE html>
<html>
  <head>
    <!-- start: Meta -->
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title> {% block title %} BuildBuild {% endblock %} </title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keyword" content="">
    <!-- end: Meta -->

    <!-- start: Mobile Specific -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- end: Mobile Specific -->

    {% load staticfiles %}

    <!-- start: CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/retina.min.css' %}" rel="stylesheet">
    <!-- end: CSS -->

    <!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>

      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <script src="{% static 'js/respond.min.js' %}"></script>
      <link href="{% static 'css/ie6-8.css' %}" rel="stylesheet">

    <![endif]-->

    <!-- start: Favicon and Touch Icons -->
    <!-- should implemnet later -->
    <!-- end: Favicon and Touch Icons -->	

  </head>
  <body>
    {% include 'header.html' %}

    <div class="container">
      <div class="row">
        {% include 'main_menu.html' %}

        {% include 'content.html' %}
      </div>
    </div>

    {% include 'modal.html' %}

    {% include 'footer.html' %}
    {% include 'javascript.html' %}

  <!-- for passing test purpose -->
  <div class="container">
    <div class="messages">
    {% if messages %}
      <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
    </div>

  <nav>
    {% if user.is_authenticated %}
    <div>Welcome, {{ user.email }}</div>
      <a href="{% url 'users:logout' %}">Logout</a>
      <a href="{% url 'users:account' %}">Account info</a>
      <a href="{% url 'teams:maketeam' %}">Make a Team</a>
      <p>
      {% block search_team %}
      {% endblock %}
      </p>
      <p>
      {% block team_list %}
      {% endblock %}
      </p>
    {% else %}
      <a href="{% url 'users:login' %}">Login</a>
      <a href="{% url 'users:signup' %}">SignUp</a>
    {% endif %}
  </nav>

    {% block content %}
    {% endblock %}
  </div>
  </body>
</html>
