{% load staticfiles %}

<!-- start: JavaScript-->
<!--[if !IE]>-->

    <script src="{% static 'js/jquery-2.1.0.min.js' %}"></script>

<!--<![endif]-->

<!--[if IE]>

  <script src="{% static 'js/jquery-1.11.0.min.js' %}"></script>

<![endif]-->

    <script src="{% static 'js/jquery-migrate-1.2.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

<!-- page scripts -->
    <script src="{% static 'js/jquery-ui-1.10.3.custom.min.js' %}"></script>
    <script src="{% static 'js/jquery.ui.touch-punch.min.js' %}"></script>
    <script src="{% static 'js/jquery.sparkline.min.js' %}"></script>
    <script src="{% static 'js/fullcalendar.min.js' %}"></script>

<!--[if lte IE 8]><script language="javascript" type="text/javascript" src="assets/js/excanvas.min.js"></script><![endif]-->

    <script src="{% static 'js/jquery.flot.min.js' %}"></script>
    <script src="{% static 'js/jquery.flot.pie.min.js' %}"></script>
    <script src="{% static 'js/jquery.flot.stack.min.js' %}"></script>
    <script src="{% static 'js/jquery.flot.resize.min.js' %}"></script>
    <script src="{% static 'js/jquery.flot.time.min.js' %}"></script>
    <script src="{% static 'js/jquery.autosize.min.js' %}"></script>
    <script src="{% static 'js/jquery.placeholder.min.js' %}"></script>

<!-- theme scripts -->
    <script src="{% static 'js/custom.min.js' %}"></script>
    <script src="{% static 'js/core.min.js' %}"></script>

<!-- inline scripts related to this page -->
    <script src="{% static 'js/pages/index.js' %}"></script>

<!-- end: JavaScript-->
