<!-- start: Main Menu -->
<div id="sidebar-left" class="col-lg-2 col-sm-1">
  
  <input type="text" class="search hidden-sm" placeholder="..." />
  
  <div class="nav-collapse sidebar-nav collapse navbar-collapse bs-navbar-collapse">
    <ul class="nav nav-tabs nav-stacked main-menu">
      <li><a href="index.html"><i class="fa fa-bar-chart-o"></i><span class="hidden-sm"> Dashboard</span></a></li>	
      <li>
        <a class="dropmenu" href="index.html#"><i class="fa fa-eye"></i><span class="hidden-sm"> UI Features</span> <span class="label">3</span></a>
        <ul>
          <li><a class="submenu" href="ui-sliders-progress.html"><i class="fa fa-eye"></i><span class="hidden-sm"> Sliders & Progress</span></a></li>
          <li><a class="submenu" href="ui-nestable-list.html"><i class="fa fa-eye"></i><span class="hidden-sm"> Nestable Lists</span></a></li>
          <li><a class="submenu" href="ui-elements.html"><i class="fa fa-eye"></i><span class="hidden-sm"> Elements</span></a></li>
        </ul>
        </li>
      <li><a href="widgets.html"><i class="fa fa-dashboard"></i><span class="hidden-sm"> Widgets</span></a></li>
      <li>
        <a class="dropmenu" href="index.html#"><i class="fa fa-folder-o"></i><span class="hidden-sm"> Example Pages</span> <span class="label">3</span></a>
        <ul>
          <li><a class="submenu" href="page-infrastructure.html"><i class="fa fa-hdd-o"></i><span class="hidden-sm"> Infrastructure</span></a></li>
          <li><a class="submenu" href="page-inbox.html"><i class="fa fa-envelope"></i><span class="hidden-sm"> Inbox</span></a></li>
          <li><a class="submenu" href="page-todo.html"><i class="fa fa-tasks"></i><span class="hidden-sm"> ToDo & Timeline</span></a></li>
          <!-- Profile Page - Cooming Soone
          <li><a class="submenu" href="page-profile.html"><i class="fa fa-male"></i><span class="hidden-sm"> User Profile</span></a></li>
          -->
        </ul>	
      </li>
      <li>
        <a class="dropmenu" href="index.html#"><i class="fa fa-edit"></i><span class="hidden-sm"> Forms</span> <span class="label">3</span></a>
        <ul>
          <li><a class="submenu" href="form-elements.html"><i class="fa fa-edit"></i><span class="hidden-sm"> Form elements</span></a></li>
          <li><a class="submenu" href="form-wizard.html"><i class="fa fa-edit"></i><span class="hidden-sm"> Wizard</span></a></li>
          <li><a class="submenu" href="form-dropzone.html"><i class="fa fa-edit"></i><span class="hidden-sm"> Dropzone Upload</span></a></li>
        </ul>
      </li>
      <li>
        <a class="dropmenu" href="index.html#"><i class="fa fa-list-alt"></i><span class="hidden-sm"> Charts</span> <span class="label">3</span></a>
        <ul>
          <li><a class="submenu" href="charts-flot.html"><i class="fa fa-list-alt"></i><span class="hidden-sm"> Flot Charts</span></a></li>
          <li><a class="submenu" href="charts-xcharts.html"><i class="fa fa-list-alt"></i><span class="hidden-sm"> xCharts</span></a></li>
          <li><a class="submenu" href="charts-others.html"><i class="fa fa-list-alt"></i><span class="hidden-sm"> Other</span></a></li>
        </ul>
      
      </li>
      <li><a href="typography.html"><i class="fa fa-font"></i><span class="hidden-sm"> Typography</span></a></li>
      <li><a href="gallery.html"><i class="fa fa-picture-o"></i><span class="hidden-sm"> Gallery</span></a></li>
      <li><a href="table.html"><i class="fa fa-align-justify"></i><span class="hidden-sm"> Tables</span></a></li>
      <li><a href="calendar.html"><i class="fa fa-calendar"></i><span class="hidden-sm"> Calendar</span></a></li>
      <li><a href="file-manager.html"><i class="fa fa-folder-open"></i><span class="hidden-sm"> File Manager</span></a></li>
      <li>
        <a class="dropmenu" href="index.html#"><i class="fa fa-star"></i><span class="hidden-sm"> Icons</span> <span class="label">5</span></a>
        <ul>
          <li><a class="submenu" href="icons-halflings.html"><i class="fa fa-star"></i><span class="hidden-sm"> Halflings</span></a></li>
          <li><a class="submenu" href="icons-glyphicons-pro.html"><i class="fa fa-star"></i><span class="hidden-sm"> Glyphicons PRO</span></a></li>
          <li><a class="submenu" href="icons-filetypes.html"><i class="fa fa-star"></i><span class="hidden-sm"> Filetypes</span></a></li>
          <li><a class="submenu" href="icons-social.html"><i class="fa fa-star"></i><span class="hidden-sm"> Social</span></a></li>
          <li><a class="submenu" href="icons-font-awesome.html"><i class="fa fa-star"></i><span class="hidden-sm"> Font Awesome</span></a></li>
        </ul>
      </li>
      <li><a href="login.html"><i class="fa fa-lock"></i><span class="hidden-sm"> Login Page</span></a></li>
    </ul>
  </div>
</div>
<!-- end: Main Menu -->
