<div class="messages">
{% if messages %}
<ul class="messages">
  {% for message in messages %}
  <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
  {% endfor %}
</ul>
{% endif %}
</div>

<div id="gritter-notice-wrapper">
  <div id="gritter-item" class="gritter-item-wrapper">
    <div class="gritter-top"></div>
    <div class="gritter-item">
      <div class="gritter-close"></div>
      <img class="gritter-image" src="" alt="" />
      <div class="gritter-with-image">
        <span class="gritter-title">Notifications</span>
        <p>hello world</p>
      </div>
      <div style="clear:both"></div>
    </div>
    <div class="gritter-botton"></div>
  </div>
</div>
