{% extends "base.html" %}

{% block header %}
{% endblock %}

{% block main_menu %}
{% endblock %}

{% block content %}

  <div class="row">
    <div class="login-box">
      <h2>Sign Up</h2>

        <fieldset>
          <form class="form-horizontal" method="POST">{% csrf_token %}
            {{ form.as_p }}

            <div class="clearfix"></div>
            <input class="btn btn-primary col-xs-12" type="submit" value="SignUp" />
          </form>
        </fieldset>	

      </form>
      <hr>
      <h3>Already BuildBuild user?</h3>
      <p>
        No problem, <a href="{% url 'login' %}">click here</a> to login this site.
      </p>	
    </div>
  </div><!--/row-->
{% endblock %}


{% block modal %}
{% endblock %}

{% block footer %}
{% endblock %}
